# 项目相关配置
ruoyi:
  # 名称
  name: RuoYi
  # 版本
  version: 3.8.7
  # 版权年份
  copyrightYear: 2023
  # 文件路径 示例（ Windows配置D:/ruoyi/uploadPath，Linux配置 /home/ruoyi/uploadPath）
  profile: D:/ruoyi/uploadPath
  # 获取ip地址开关
  addressEnabled: false
  # 验证码类型 math 数字计算 char 字符验证
  captchaType: math

# 开发环境配置
server:
  # 服务器的HTTP端口，默认为8080
  port: 8080
  servlet:
    # 应用的访问路径
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100

# 日志配置
logging:
  level:
    com.ruoyi: warn
    org.springframework: warn

# 用户配置
user:
  password:
    # 密码最大错误次数
    maxRetryCount: 5
    # 密码锁定时间（默认10分钟）
    lockTime: 10

# Spring配置
spring:
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  profiles:
    active: druid
  # 文件上传
  servlet:
    multipart:
      # 单个文件大小
      max-file-size: 10MB
      # 设置总上传的文件大小
      max-request-size: 20MB
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true
  # redis 配置
  redis:
    # 地址
    host: 49.232.136.246
    # 端口，默认为6379
    port: 6379
    # 数据库索引
    database: 0
    # 密码
    password:
    # 连接超时时间
    timeout: 10s
    lettuce:
      pool:
        # 连接池中的最小空闲连接
        min-idle: 0
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池的最大数据库连接数
        max-active: 8
        # #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms

# token配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌密钥
  secret: abcdefghijklmnopqrstuvwxyz
  # 令牌有效期（默认30分钟）
  expireTime: 30

# MyBatis配置
mybatis:
  # 搜索指定包别名
  typeAliasesPackage: com.ruoyi.**.domain
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapperLocations: classpath*:mapper/**/*Mapper.xml
  # 加载全局的配置文件
  configLocation: classpath:mybatis/mybatis-config.xml

# PageHelper分页插件
pagehelper:
  helperDialect: mysql
  supportMethodsArguments: true
  params: count=countSql

# Swagger配置
swagger:
  # 是否开启swagger
  enabled: true
  # 请求前缀
  pathMapping: /dev-api

# 防止XSS攻击
xss:
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*

## 区块链相关配置
#
#
##    /block-chain-agriculture\
##    C:\Users\13684\Desktop\block-chain-agriculture\
##  $env:NODE_OPTIONS = "--openssl-legacy-provider"
#fisco:
#  nodeList: 101.200.85.246:20201
#  groupId: 1
#  certPath: /home/blockChain-Agriculture/sdk
#  contractAddress:
#    # Asset合约地址(一定要加引号 不然注解@Value会把按照16进制数字进行转换赋值)
#    asset: "0x77bd5ef89c72ddd70a5a2dad3e86561f0b06355f"
#  # 测试用户地址
#  account:
#    # 测试用户秘钥地址
#    accountAddress: /blockChain-agriculture\ruoyi-admin\src\main\resources\account
#    # 测试用户文件地址
#    accountFilePath: /home/blockChain-Agriculture/account/niit_key_0xb96aa75744f0c0f8a7e42b970bf8b1087f5cf6c3.pem

# 区块链相关配置


#    /block-chain-agriculture\
#    C:\Users\13684\Desktop\block-chain-agriculture\
#  $env:NODE_OPTIONS = "--openssl-legacy-provider"
fisco:
  nodeList: 8.152.7.205:20200
  groupId: 1
  certPath: ruoyi-admin/src/main/resources/sdk
  contractAddress:
    # Asset合约地址(一定要加引号 不然注解@Value会把按照16进制数字进行转换赋值)
    asset: "0xe9f6d3bad86b10b025ae373bafa51d145cbcea22"
  # 测试用户地址
  account:
    # 测试用户秘钥地址
    accountAddress: ruoyi-admin\src\main\resources\account
    # 测试用户文件地址
    accountFilePath: ruoyi-admin\src\main\resources\account\Max_key_0xa346d03183a095bffa7d4aaf72ac2197241f5e75.pem


