/* pages/menu/product/product.wxss */page{
 background-image: url('/pages/img/temp/zhuanfa.png');
 background-size: 1000px;
 background-position: center;
 width: 100%;
 height: 100%;
  display: flex;
  flex-direction: column;

}
.swiper{
  swiper{
    height: 600rpx;
    border-radius: 16px;
    overflow: hidden;
    swiper-item{
      image{
        width: 100%;
        height: 100%;
      }
  }
  }
}
.info{
  height:650rpx;
  border-radius: 100px;
  border: 3px dotted rgb(35, 151, 11);
 font-size: 20px;
 font-family: '楷体';
  font-weight: bold;
 transform: translate(0%,-8%);
z-index: -40;
.body{
  transform: translate(8%,11%);
}
 text{
   font-weight: normal;
   font-size:12px;
   &:nth-of-type(odd){
     font-weight: bold;
     font-size:16px;
   }
 }
}
.hanhui{
  width: 100rpx;
  height: 100rpx;
  z-index: 100;
  position: absolute;
}
.button{
  position: absolute;
  transform: translate(960%,15%);
  z-index: 1000;
  width: 70rpx;
  height: 70rpx;
 image{
   display: flex;
   transform: translate(-42%,0%);
   width: 70rpx;
   height: 70rpx;
 }
}

.container {
  width: 100%;
  position: absolute;
  
  height: 400rpx;
  transform: translate(-3%,300%);
  border-radius: 100rpx;
  padding: 20rpx;
}
.product-list, .cart {
  margin-bottom: 20rpx;
  font-size: 80rpx;
}
.product-item, .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rpx;
 
}
.total {
  font-size: 50rpx;
  font-weight: bold;
  text-align: right;
}
.lijizhifu{
  background-color: white;
  transform: translate(10%,60%);
   font-family: 'kaiti';
   color: black;
}
.gouwuche{
  background-color: rgb(32, 255, 32);
  transform: translate(0%,61%);
   font-family: 'kaiti';
   

}

.back{
  image{
    width: 750rpx;
    height: 1000rpx;
  }
  
  z-index: -10;
  transform: translate(0%,45%);
  position: absolute;
}
.katong{
  image{
    width: 250rpx;
    height: 250rpx;
  }
  z-index: 0;
  transform: translate(160%,420%);
  position: absolute;
}
.custom-capsule {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-capsule__icon {
  flex: 1;
  position: relative;
}

.custom-capsule__icon.home:before {
  content: '';
  display: block;
  position: absolute;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 18px;
  background: #e7e7e7;
}
.divider-demo__title {
  font-size: 24rpx;
  color: rgba(0, 0, 0, 0.4);
  padding: 0 32rpx 16rpx;
  line-height: 40rpx;
}

.demo-5 {
  margin: 0 32rpx;
}

.button-example {
  display: flex;
  justify-content: space-between;
  margin: 0 32rpx 32rpx;
}

.external-class {
  border-radius: 0 !important;
}
.price{
  transform: translate(10%,50%);
}
.btn{
  transform: translate(80%,50%);
}
.total{
  transform: translate(160%,50%);
}

.textarea-example {
  padding: 32rpx 32rpx 48rpx;
  background-color: var(--bg-color-demo);
}

.external-class {
  padding-top: 24rpx !important;
  padding-bottom: 24rpx !important;
}

.textarea-example__label {
  display: block;
  color: var(--td-text-color-primary);
  font-size: 24rpx;
  line-height: 40rpx;
  padding-bottom: 16rpx;
}
.demo {
  padding: 0 32rpx 48rpx;
  height: 1000rpx;
  width: 75%;
}

.demo:last-child {
  padding-bottom: 0;
}

.demo-desc {
  font-size: 14px;
  color: var(--td-text-color-secondary);
  margin-bottom: 32rpx;
}

.demo .margin-16:not(:last-child) {
  margin-right: 32rpx;
  height: 50px;
  font-size: 18px;
}
