name: Build and Deploy

on:
  push:
    branches:
      - dev  # 监听的分支，你可以根据需要修改为其他分支

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn -B package --file backEnd/pom.xml

    - name: Archive Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: package
        path: target/ruoyi-admin.jar

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Download Artifact
      uses: actions/download-artifact@v3
      with:
        name: package

    - name: Deploy to Remote Server
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        SERVER_USER: ${{ secrets.SERVER_USER }}
        SERVER_HOST: ${{ secrets.SERVER_HOST }}
        DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}
      run: |
        echo "$SSH_PRIVATE_KEY" > private_key.pem
        chmod 600 private_key.pem
        scp -i private_key.pem target/*.jar $SERVER_USER@$SERVER_HOST:$DEPLOY_PATH
        ssh -i private_key.pem $SERVER_USER@$SERVER_HOST << 'EOF'
          cd $DEPLOY_PATH
          # 在这里运行你的部署命令，例如重启服务等
          java -jar ruoyi-admin.jar
        EOF
